#Python Data Strcture

1. What are data structures, and why are they important ?
- Data structures are specialized formats for organizing, processing, retrieving, and storing data. They are crucial because they allow efficient data management and are fundamental for designing efficient algorithms. Common examples include lists, stacks, queues, trees, and graphs, each serving different purposes in software development.

2.   Explain the difference between mutable and immutable data types with examples
-  Mutable data types are those whose values can be changed after creation. Lists and dictionaries in Python are examples of mutable types. For instance, a list [1, 2, 3] can have elements added or removed. Immutable data types, on the other hand, cannot be changed once created. Examples include strings and tuples. For example, the string "hello" cannot be altered; any operation results in a new string.

3.  What are the main differences between lists and tuples in Python ?
- Lists and tuples are both sequence types in Python, but the primary difference is that lists are mutable while tuples are immutable. This means a list can be modified after creation by adding, removing, or changing elements, whereas a tuple cannot be changed once it is created.

4. Describe how dictionaries store data.
- Dictionaries in Python store data as key-value pairs. Internally, they use a hash table, which allows fast access to values based on their corresponding keys. Each key is hashed to compute an index where the value is stored.

5. Why might you use a set instead of a list in Python ?
- Sets are used instead of lists when the main goal is to store unique elements without duplicates. Since sets automatically eliminate duplicate values and offer faster membership testing, they are ideal for tasks like removing duplicates from a list or checking for set membership.

6. What is a string in Python, and how is it different from a list ?
- A string in Python is an immutable sequence of characters. Unlike lists, which are mutable and can hold various types of data, strings are limited to characters and cannot be changed after they are created.

7. How do tuples ensure data integrity in Python ?
- Tuples ensure data integrity by being immutable. Once a tuple is created, its contents cannot be changed, which makes it ideal for storing fixed collections of data that should not be modified, such as coordinates or configuration settings.

8. What is a hash table, and how does it relate to dictionaries in Python ?
- A hash table is a data structure that implements an associative array, a structure that can map keys to values. Python dictionaries use a hash table under the hood, where each key is hashed to determine where its corresponding value should be stored in memory.

9.  Can lists contain different data types in Python ?
- Yes, lists in Python can contain elements of different data types. A single list can hold integers, strings, floats, or even other lists or objects, providing great flexibility in handling diverse data.

10. Explain why strings are immutable in Python.
- Strings are immutable in Python because once a string is created, it cannot be changed. This design decision enhances performance and safety, especially when strings are used as keys in dictionaries or in concurrent programming.

11. What advantages do dictionaries offer over lists for certain tasks ?
- Dictionaries are advantageous over lists when data needs to be accessed via a unique identifier or key rather than by position. This allows for faster lookups and more meaningful data organization.

12. Describe a scenario where using a tuple would be preferable over a list.
- Tuples are preferable over lists when data should remain constant throughout the program. For example, storing fixed GPS coordinates is best done in a tuple to prevent accidental modification.

13. How do sets handle duplicate values in Python ?
- Sets automatically eliminate duplicate values. If a set is created with repeated elements, only one instance of each unique element is kept.

14. How does the “in” keyword work differently for lists and dictionaries ?
- The "in" keyword checks for membership. In lists, it checks if an element is present. In dictionaries, it checks if a key exists, not a value.

15. Can you modify the elements of a tuple? Explain why or why not ?
- No, elements of a tuple cannot be modified because tuples are immutable. Once defined, their elements remain fixed.

16. What is a nested dictionary, and give an example of its use case ?
- A nested dictionary is a dictionary that contains another dictionary as a value. For example, a student record could be {'name': 'Alice', 'details': {'age': 20, 'grade': 'A'}}, which helps in organizing complex data hierarchically.

17.  Describe the time complexity of accessing elements in a dictionary.
- Accessing an element in a dictionary is an O(1) operation on average due to the hash table structure, making lookups extremely fast.

18.  In what situations are lists preferred over dictionaries ?
- Lists are preferred over dictionaries when the order of data matters or when data needs to be accessed by position rather than by key.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are unordered collections, meaning their items are not stored in a specific sequence. This can affect data retrieval if the order of elements is important for the application.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists retrieve data using indices, which reflect the order of insertion. Dictionaries retrieve data using keys, which are hashed, allowing for quicker access but without preserving insertion order in earlier Python versions.

In [1]:
#Write a code to create a string with your name and print it.
name = "Aaryan"
print(name)

Aaryan

In [2]:
#Write a code to find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [4]:
#Write a code to convert the string "hello" to uppercase
string = "hello"
print(string.upper())

HELLO

In [5]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [6]:
#Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [10]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [12]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple_colors = ('red', 'green', 'blue', 'yellow')
print(tuple_colors[-2])

blue

In [13]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple_nums = (10, 20, 5, 15)
print(min(tuple_nums))

5

In [14]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple_animals = ('dog', 'cat', 'rabbit')
print(tuple_animals.index("cat"))

1

In [15]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple_fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in tuple_fruits)

True

In [16]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [17]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [20]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [21]:
# Create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [22]:
# Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

In [24]:
# Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del data['age']
print(data)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
data = {'name': 'Alice', 'city': 'Paris'}
print("city" in data)

True

In [26]:
# Create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [27]:
# Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[26, 40, 77, 86, 93]

In [28]:
# Create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date"]
print(words[3])

date

In [29]:
# Combine two dictionaries into one and print the result.
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# Convert a list of strings into a set.
words = ["apple", "banana", "apple"]
word_set = set(words)
print(word_set)

{'apple', 'banana'}